﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Example</h2>
        <div id="fileUploader">
            <form enctype="multipart/form-data" method="post" action="http://localhost:22289/api/Files" id="fileUploadForm" novalidate="novalidate">
                <fieldset>
                    <legend>Upload Files</legend>
                    <ul id="fileIdList"><li>No Files Selected</li></ul>
                    <input type="file" id="fileInput" name="fileInput" multiple>
                </fieldset>
            </form>
            <form method="post" action="http://localhost:19197/" id="fileDetailsForm" novalidate="novalidate">
                <fieldset>
                    <legend>Upload Form</legend>
                    <p>
                        <strong>Files You Selected:</strong>
                    </p>
                    <ul id="fileInputList"><li>No Files Selected</li></ul>
                </fieldset>
            </form>
            <button type="button" id="registerFilesButton" class="btn btn-default hidden">Register</button>
            <button type="button" id="uploadFilesButton" class="btn btn-default hidden">Upload</button>            
        </div>

  
       
        @*Select a file to hash: <input type="file" id="file_input">
        <div id="file_hash"></div>*@
    </div>

</div>
@section scripts{
    <script type="text/javascript">


        var hashCalculation = true;
        if (!(File && FileReader && FileList && Blob))
            hashCalculation = false; //FileAPI isn't supported in this browser
        if (!(ArrayBuffer && Uint8Array))
            hashCalculation = false; //Typed Arrays aren't supported in this browser


/*(function (g) {
        console.log("Foo!");



        var hashCalculation = true;
        if (!(g.File && g.FileReader && g.FileList && g.Blob))
            hashCalculation = false; //FileAPI isn't supported in this browser
        if (!(g.ArrayBuffer && g.Uint8Array))
            hashCalculation = false; //Typed Arrays aren't supported in this browser

    })(window);*/

        $(document).ready(function() {
            var fileUploader = (function() {
                var fileUploaderDOM;
                var fileBox;
                var fileInputList;
                var fileIdList;
                var formUpload;
                var formDetails;
                var registerFilesButton;
                var uploadFilesButton;

                var fileBoxUpdate = function() {
                    /*if (hashCalculation === true)
                console.log("hashCalculation true");*/
                    var txt = "";
                    fileInputList.empty();
                    //console.log("fileBox: " + fileBox.val());
                    for (var i = 0; i < fileBox.prop('files').length; i++) {
                        var file = fileBox.prop('files')[i];
                        var li = document.createElement("li");
                        if (!file) {
                            //Fail to load file
                            li.innerHTML = 'Fail to load file number ' + (i+1);
                            fileInputList.append(li);
                            continue;
                        }
                        
                        var fileExtension = file.name.split('.').pop();
                        var fileName = file.name.substr(0, file.name.lastIndexOf('.'));
                        var fileSize = file.size;
                        var fileHash = "";


                        txt = "Name: " + file.name + ", size: " + fileSize + " bytes <br>";
                        txt += '<label>Display Name</label> <input type="text" name="displayName" value="' + fileName + '"><br>';
                        txt += '<label>Description</label> <input type="text" name="description" value=""><br>';
                        txt += '<input type="text" name="name" value="' + fileName + '"><br>';
                        txt += '<input type="text" name="extension" value="' + fileExtension + '"><br>';
                        txt += '<input type="text" name="size" value="' + fileSize + '"><br>';
                        if (hashCalculation === true && fileSize <= 26214400) //max size for hash calculation is 25 Mb (browser crash on size >35Mb)
                        {
                            var reader = new FileReader();
                            reader.onload = function(event) {
                                var buffer = event.target.result,
                                    bytes = new Uint8Array(buffer),
                                    data = "";
                                for (var i = 0, j = bytes.length; i < j; i++)
                                    data += String.fromCharCode(bytes[i]);
                                fileHash = md5(data, true);
                            };
                            reader.onerror = function() {
                                console.log("Failed to read the file!");
                            };
                            reader.readAsArrayBuffer(file);
                        }
                        txt += '<input type="text" name="hash" value="' + fileHash + '"><br>';
                        //txt += '<input type="file" id="' + input.files[i].name + '" name="' + input.files[i].name + '"><br>';
                        li.innerHTML = txt;
                        fileInputList.append(li);
                        
                    }
                    if (fileInputList.children().length === 0) {
                        var li = document.createElement("li");
                        li.innerHTML = 'No Files Selected';
                        fileInputList.append(li);
                        if (!registerFilesButton.hasClass('hidden'))
                            registerFilesButton.addClass('hidden');
                    } else {
                        if (registerFilesButton.hasClass('hidden'))
                            registerFilesButton.removeClass('hidden');
                    }

                    if (!uploadFilesButton.hasClass('hidden'))
                        uploadFilesButton.addClass('hidden');
                };

                var registerFiles = function() {
                    //Submit details form

                    //As temp just prepare array with file ids
                    var fileIdsDemo = ["858992ac-040f-4157-9e20-eee1d9575086", "7c9e6679-7425-40de-944b-e07fc1f90ae7", "e1a62075-698a-406f-887e-7465bd632b00"];
                    var txt = "";
                    fileIdList.empty();
                    var li = document.createElement("li");
                    for (var i = 0; i < fileBox.prop('files').length; i++) {
                        //var file = fileBox.files[i];
                        txt = '<input type="text" name="fileId" value="' + fileIdsDemo[i] + '"><br>';
                        li.innerHTML = txt;
                        fileIdList.append(li);
                    }
                    

                    if (fileIdList.children().length === 0) {
                        var li = document.createElement("li");
                        li.innerHTML = 'No Files Selected';
                        fileIdList.append(li);
                        if (!uploadFilesButton.hasClass('hidden'))
                            uploadFilesButton.addClass('hidden');
                    } else {
                        if (uploadFilesButton.hasClass('hidden'))
                            uploadFilesButton.removeClass('hidden');
                    }

                    if (!registerFilesButton.hasClass('hidden'))
                        registerFilesButton.addClass('hidden');
                };

                var uploadFiles = function() {
                    if (!registerFilesButton.hasClass('hidden'))
                        registerFilesButton.addClass('hidden');
                    if (!uploadFilesButton.hasClass('hidden'))
                        uploadFilesButton.addClass('hidden');

                    //Submit upload form
                    formUpload.submit();

                    //reset form data if success, if not - show errors
                };

                var resetForms = function() {
                    //Reset data
                    fileIdList.empty();
                    fileInputList.empty();
                };

                var bindEvents = function() {
                    fileBox.on('change', fileBoxUpdate);
                    uploadFilesButton.on('click', uploadFiles);
                    registerFilesButton.on('click', registerFiles);
                };

                var init = function(fileUploader) {
                    fileUploaderDOM = fileUploader;
                    fileBox = $('#fileInput', fileUploaderDOM);
                    fileInputList = $('#fileInputList', fileUploaderDOM);
                    fileIdList = $('#fileIdList', fileUploaderDOM);
                    formUpload = fileBox.closest('form');
                    formDetails = fileInputList.closest('form');
                    uploadFilesButton = $('#uploadFilesButton', fileUploaderDOM);
                    registerFilesButton = $('#registerFilesButton', fileUploaderDOM);
                    bindEvents();
                };

                return {
                    init: init
                };
            })();


            fileUploader.init($('#fileUploader'));
        });
        /*var updateFileList = (function () {
        var input = document.getElementById("fileInput");
        var ul = document.getElementById("fileInputList");
        if (hashCalculation == true)
            console.log("hashCalculation true");
        var fileIds = [];
        var txt = "";
        while (ul.hasChildNodes()) {
            ul.removeChild(ul.firstChild);
        }
        for (var i = 0; i < input.files.length; i++) {
            var file = input.files[i];
            var li = document.createElement("li");
            var fileExtension = file.name.split('.').pop();
            var fileName = file.name.substr(0, file.name.lastIndexOf('.'));
            if ('size' in file) {
                var fileSize = file.size;
                txt += "size: " + fileSize + " bytes <br>";
                txt += '<input type="text" name="file_' + i + '_size" value="' + fileSize + '"><br>';
            }

            txt = file.name + '<br>';
            txt += '<label>Display Name</label><input type="text" name="file_' + i + '_displayName" value="' + fileName + '"><br>';
            txt += '<input type="text" name="file_' + i + '_name" value="' + fileName + '"><br>';
            txt += '<input type="text" name="file_' + i + '_extension" value="' + fileExtension + '"><br>';
            //txt += '<input type="text" name="file_' + i + '_hash" value="' + fileHash + '"><br>';

            //txt += '<input type="file" id="' + input.files[i].name + '" name="' + input.files[i].name + '"><br>';
            li.innerHTML = txt;
            ul.appendChild(li);
        }
        if (!ul.hasChildNodes()) {
            var li = document.createElement("li");
            li.innerHTML = 'No Files Selected';
            ul.appendChild(li);
        }


        return {

            init: function (fileinput, updateFunction) {
                return init(fileinput, updateFunction);
            },
            set: function (val) {
                i = val;
            },
            increment: function () {
                return ++i;
            }
        };
    })();*/


/*updateFileList = function() {
        var input = document.getElementById("fileInput");
        var ul = document.getElementById("fileInputList");
        if (hashCalculation == true)
            console.log("hashCalculation true");

        var txt = "";
        while (ul.hasChildNodes()) {
            ul.removeChild(ul.firstChild);
        }
        for (var i = 0; i < input.files.length; i++) {
            var file = input.files[i];
            var li = document.createElement("li");
            var fileExtension = file.name.split('.').pop();
            var fileName = file.name.substr(0, file.name.lastIndexOf('.'));
            if ('size' in file) {
                var fileSize = file.size;
                txt += "size: " + fileSize + " bytes <br>";
                txt += '<input type="text" name="file_' + i + '_size" value="' + fileSize + '"><br>';
            }

            txt = file.name + '<br>';
            txt += '<label>Display Name</label><input type="text" name="file_' + i + '_displayName" value="' + fileName + '"><br>';
            txt += '<input type="text" name="file_' + i + '_name" value="' + fileName + '"><br>';
            txt += '<input type="text" name="file_' + i + '_extension" value="' + fileExtension + '"><br>';
            //txt += '<input type="text" name="file_' + i + '_hash" value="' + fileHash + '"><br>';

            //txt += '<input type="file" id="' + input.files[i].name + '" name="' + input.files[i].name + '"><br>';
            li.innerHTML = txt;
            ul.appendChild(li);
        }
        if (!ul.hasChildNodes()) {
            var li = document.createElement("li");
            li.innerHTML = 'No Files Selected';
            ul.appendChild(li);
        }
    }*/


        
    </script>

    <script type="text/javascript">
        /*+function (g) {
        var hashCalculationOn = true;
        if (!(g.File && g.FileReader && g.FileList && g.Blob))
            hashCalculationOn = false; //FileAPI isn't supported in this browser
        //return console.log("FileAPI isn't supported in your browser!");
        if (!(g.ArrayBuffer && g.Uint8Array))
            hashCalculationOn = false; //Typed Arrays aren't supported in this browser
        //return console.log("Typed Arrays aren't supported!");
        var fileHashElem = document.getElementById("file_hash");
        document.getElementById("file_input").addEventListener("change", function (event) {
            var file = event.target.files[0];
            if (!file)
                return console.log("Failed to load the file!");
            if (hashCalculationOn) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var buffer = event.target.result,
                        bytes = new Uint8Array(buffer),
                        data = "";
                    for (var i = 0, j = bytes.length; i < j; i++)
                        data += String.fromCharCode(bytes[i]);
                    fileHashElem.innerHTML = "MD5: " + md5(data, true);
                };
                reader.onerror = function () {
                    console.log("Failed to read the file!");
                };
                reader.readAsArrayBuffer(file);
            } else {
                fileHashElem.innerHTML = "Hash calculation not supported";
            }
        }, false);
    }(window);*/

    </script>
}